.neversink-mybrand-scheme {
  --neversink-bg-color: #0f172a;
  --neversink-bg-code-color: #1e293b;
  --neversink-fg-code-color: #f8fafc;
  --neversink-fg-color: #e2e8f0;
  --neversink-text-color: #ffffff;
  --neversink-border-color: #38bdf8;
  --neversink-highlight-color: #f59e0b;
}

.slidev-layout ul,
.slidev-layout ol,
.slidev-layout li {
  line-height: normal;
  margin-bottom: 0;
}

.slidev-page {
  background-color: var(--neversink-bg-color);
  color: var(--neversink-text-color);
}